<form action="/eateries/<%= @eatery.id %>" method="POST">

  <label for="name">Name:</label>
  <input id="name" type="text" name="name" value="<%= @eatery.name %>"/>

  <label for="location">Address:</label>
  <input id="location" type="text" name="location" value="<%= @eatery.location %>"/>

  <input type='submit' value="Save the modified eaatery"/>
</form>
