


<div class="">


  <form action="/eateries" method="POST">
    <div class="">

      <label for="name">Name:</label>
      <input id="name" type="text" name="name"/>
    </div>

    <div class="">

      <label for="location">Address:</label>
      <input id="location" type="text" name="location"/>
    </div>
    <div class="">

    </div>
    <input type='submit' value="Save new eatery"/>
  </div>
</form>
</div>
