<br>
<br>
<div class="forms">
  <div>
    <form action="/eateries" method="POST">

      <label for="name">Name:</label>
      <input id="name" type="text" name="name"/>

      <label for="location">Location:</label>
      <input id="location" type="text" name="location"/>
    </div>
  </div>
  <br>
  <br>

  <div class="forms">
    <button type="submit" value="Save New Eatery" class="sbutton" style="text-decoration:none">Save New Eatery</button>
  </form>
</div>
