<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <nav>


      <div>
        <form method="get" action="/">
          <input type="submit" value="Home"/>
        </form>
      </div>

      <div>
        <form method="get" action="/eateries">
          <input type="submit" value="Eateries"/>
        </form>
      </div>
      <div>
        <form method="get" action="/eateries/new">
          <input type="submit" value="Create a new Eatery"/>
        </form>
      </div>

      <!-- <li>
        <! <a href="/burgers">Choose your Burger!</a>
      </li>
      <li>
        <a href="/deals">Check the Deals!!!</a> -->
      <!-- </li> -->
  
  </nav>




  <h1></h1>

  <%= yield %>
</body>
</html>
