<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href="/eateries">Restaurants</a>
      </li>
      <li>
        <a href="/burgers">Burgers</a>
      </li>
    </ul>
  </nav>
  <h1></h1>

  <%= yield %>
</body>
</html>
