<% @deals.each do |deal| %>
<p> Name: <%= deal.label() %></p>
<p> Type: <%= deal.type() %></p>
<p> Available on: <%= deal.day() %></p>
<p> <a href="deals/<%= deal.id %>"></a> auz </p>
<hr />
<% end %>
