
.button {
  text-align: center;
  height: 50px;
  width: 33%;
  border: 3%;
  border-radius: %;
  padding: 32px 48px;
  color: orange;
  cursor:pointer;
  font-family: 'Spectral SC', serif;
  font-size: 30px;
  border-color: gold;
  border-style: inset;
}

.button--danger {
  background-color: ;
}

.button--danger:hover {
  background-color: ;
}

.button--action:hover {
  background-color: #4F4F4F;
}

.button--action {
  background-color: black;
}

.button--wrapper {
  margin: 20px 0px 0px 0px;
}
