<form action="/burgers/<%= @burger.id %>"" method="post">

  <label for="name">Burger's Name:</label>
  <input id="name" type="text" name="name" value="<%= @burger.name %>"/>

  <label for="price">Burger's price:</label>
  <input id="price" type="text" name="price" value="<%= @burger.price %>"/>


<input type="hidden" name="eatery_id" value="<%= @burger.eatery_id %>"/>




<input type='submit' value="Save new modified Burger"/>
</form>
