<form action="/eateries/<%= @eatery.id %>/burgers" method="post">


  <label for="name">Burger's Name:</label>
  <input id="name" type="text" name="name"/>

  <label for="price">Burger's price:</label>
  <input id="price" type="text" name="price"/>

  <label for="eatery_select">Eatery</label>

  <input type='submit' value="Save new burger"/>
</form>
